@media only screen and (min-width: 1101px) and (max-width: 1300 ) {
    
   
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
    /* header */
    header .container {
        padding: 2rem 2rem;
    }
    /* cards */
    section .container .cardsFull {
        width: 100%;
    }

    section .container .cardsFull .titleCards {
        margin-bottom: 3rem;
    }

    section .container .cardsFull .cards {
        width: 75%;
    }

    section .container .cardsFull .cards .cardsAll {
        width: 100%;
        height: 100%;
        margin-left: 1rem;
    }

    /* sobre */
    section .container .sobre {
     align-items: center;
     justify-content: center;
     display: block;

    }

    section .container .sobre .txt {
        margin: 0 0;
        width: 100%;

    }


    section .container .sobre .txt .txtSobre {
        text-align: center;
        margin: auto;
        width: 100%;

    }

    section .container .sobre .myPhoto {
        margin: auto;
        width: 50%;
        margin-top: 10.4rem;
    } 

    section .container .sobre .myPhoto img {
        border-radius: 15px;
    }

    /* cases */

    section .container .titleCases h2 {
        margin: 0 0;
    }

    section .container .sectionCases {
        border: 1px solid rebeccapurple;
    }

    section .container .sectionCases .imgCases {
        padding: 1rem 1rem;
        width: 100%;
        margin: auto;
    }

    section .container .sectionCases .imgCases .img2 {
        width: 34rem;
        margin: auto;
    
    }

    section .container .sectionCases .imgCases .img1 {
        width: 27rem;
        height: 25rem;
    }

    section .container .sectionCases .imgCases .imgSmall {
        border-radius: 15px;
        margin: 0 0;
        margin: auto;
    }


    /* contato */
    section .container .sectionContato .titleContato {
        margin: 0 0;
    }

    section .container .sectionContato .form {
        margin: 0;
    }

    section .container .sectionContato .form input {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    /* header */
        h2 {
        font-size: 3rem;
    }
    
    header .container {
        padding-left: 15px;
        padding-right: 15px;
    }


    /* Cards */
    section .container .cardsFull {
        width: 100%;
    }

    section .container .cardsFull .titleCards h2 {
        font-size: 3.5rem;
        margin-top: 0.6rem;
    }

    section .container .cardsFull .titleCards h2 span {
        font-size: 3.5rem ;
    }

    section .container .cardsFull .cards {
        margin: auto;
        width: 100%;
    }

    section .container .cardsFull .cards .cardsAll {
        height: 95%;
        width: 100%;
        margin: auto;
        margin-left: 1rem;
    }

    section .container .cardsFull .cards .cardsAll h3 {
        font-size: 3.5rem;
        margin-top: 3rem;
    }

    section .container .cardsFull .cards .cardsAll p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }


    /* Sobre */
    section .container .sobre {
        display: block;
        justify-content: center;
    }

    section .container .sobre .txt {
        width: 100%;
    }

    section .container .sobre .txtSobre {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    section .container .sobre .redesSociais img {
        width: 5rem;
        padding-left: 2rem;
    }

    section .container .sobre .myPhoto {
        margin: auto;
        margin-top: 5rem;
    }

    section .container .sobre .myPhoto img {
        border-radius: 15px;
    }


    /* Cases */
    section .container .sectionCases {
        display: block;
    }

    section .container .sectionCases .imgCases {
        display: block;
        margin: auto;
        width: 57%;
        margin-top: -5rem;
    }

    section .container .sectionCases .imgCases .img2 {
        margin-top: 1.8rem;
        width: 83%;
    }

    /* Contato */
    section .container .sectionContato {
        display: block;
    }

    section .container .sectionContato .titleContato {
        margin: auto;   
    }

}

@media only screen and (min-width: 501px) and (max-width: 700px) {
    
    /* header */
    header .container {
        display: block;
        width: 100%;
        justify-content: center ;
        align-items: center;
    }

    header .container .logoBeAcademy img {
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    header .container nav {
        margin-top: 2rem;
        padding: 5px 0px;
        background-color: var(--semi-black);
        border: 1px solid red;
    }

    header .container nav ul li {
        font-size: 1.3rem;
        margin: auto;
    }

    header .container nav button {
        margin: auto;
    }

    header .container .barraDeNaveg {
        margin: auto;
    }
    

    /* Cards */
    section .container .cardsFull {
        display: block;

    }

    section .container .cardsFull .cards .cardsAll {
        margin: auto;
        width: 65%;
    }

    section .container .cardsFull .cards h3 {
        font-size: 6rem;
        padding-top: 2rem;
    }

    section .container .cardsFull .cards p {
        margin-top: 9rem;
    }

    /* Sobre */
    section .container .sobre {
        display: block;
        width: 100%;
    }
    
    section .container .sobre .txt {
        width: 100%;
    }

    section .container .sobre .txt .redesSociais img  {
        padding-left: 1em ;
        width: 4.4rem;
    }


    section .container .sobre .txtSobre {
        width: 100%;
        text-align: center;
     }

    section .container .sobre .myPhoto {
        margin: auto;
        margin-top: 4rem;
    }

    section .container .sobre .myPhoto img {
        border-radius: 15px;
    }

     /* Cases */
     section .container .sectionCases {
        width: 100%;
        margin: auto;
     }

     section .container .sectionCases .imgCases  {
        display: block;
        margin: auto;
        width: 60%;
        margin-top: -5rem;
    }

    section .container .sectionCases .img2 {
        margin-top: 2rem;
    }


    /* Contato */
    section .container .sectionContato {
        display: block;
    }


    section .container .sectionContato .titleContato {
        margin: auto;
    }

    section .container .sectionContato .titleContato h2 {
        text-align: start;
                
    }

    section .container .cardsFull .cards {
        display: block;
        margin: auto;
    }

}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    
    /* Cards */
    section .container .cardsFull {
        display: block;
    }

    section .container .cardsFull .cards {
        display: block;
        margin: auto;
        width: 100%;
    }

    section .container .cards .title h3 {
        padding-top: 2.6rem;
        font-size: 6rem;
    }

    section .container .cardsFull .cards p {
        margin-top: 10rem;
    }

    section .container .cardsFull .cards .cardsAll {
        margin: auto;
        width: 80%;
    }


    /* Sobre */
    section .container .sobre {
        display: block;
        width: 100%;
    }

    section .container .sobre .txt {
        width: 100%;
    }

    section .container .sobre .txtSobre p{
        width: 100%;
        margin: auto;
        text-align: center;
        }

    section .container .sobre .txtSobre {
        margin-top: 3rem;
        width: 100%;
    }

    section .container .sobre .myPhoto {
        margin: auto;
        margin-top: 4rem;
    } 

    section .container .sobre .myPhoto img {
        border-radius: 15px;
    }


    /* Cases */
    section .container .sectionCases {
        width: 100%;
    }

    section .container .sectionCases .imgCases .imgSmall {
        margin: auto;
    }

    
    section .container .sectionCases .imgCases  {
        display: block;
        width: 100%;
        margin-top: -5rem;
        margin: auto;
    }    
    
    section .container .sectionCases .imgCases .img2 {
        margin-top: 2rem;
        width: 92.5%;
    }

    section .container .sectionCases .imgCases .img1 {
        margin-top: 2rem;
    }

    /* Contato */
    section .container .sectionContato {
        display: block;
    }

    section .container .sectionContato .titleContato {
        margin: auto;
    }

    section .container .sectionContato .form {
        margin: auto;
    }

    section .container .sectionContato .form input {
        width: 100%;
    }

    section .container .sectionContato .form button {
        margin: auto;
        margin-top: 2.2rem;
    }

    /* Header */
    header .container {
        width: 100%;
        display: block;
    }

    header .container .logoBeAcademy img {
        margin: auto;
        width: 20%;
    }

    header .container nav {
        justify-content: center;
        margin-top: 10px;
        background-color: var(--semi-black);
        padding: 5px 0px;
    }

    header .container nav .barraDeNaveg li {
        font-size: 12px;
        margin: auto;
        padding-left: 20px;
    }

    header .container nav button {
        font-size: 60%;
        display: inline-block;
        margin-left: 20px;
    }

    header .container .redeSocialMenu li{
        display: none;
    }


}

@media only screen and (min-width: 200px) and (max-width: 399px) {
    
    /* header */
    header .container {
        display: block;
    }

    header .container .logoBeAcademy {
        width: 25%;
        margin: auto;
    }

    header .container nav {
        margin: auto;
        font-size: 70%;
        justify-content: space-around;
        background-color: var(--semi-black);
        margin-top: 1rem;
        padding: 0.5rem 0 ;
    }

    header .container nav .barraDeNaveg {
        padding-left: 3.9rem;
        font-size: 1.2rem;
    }

    header .container nav button {
        display: none;
    }

    header .container nav .redeSocialMenu {
        display: none;
    }

    /* Main */
   section .container .titleBox p {
        font-size: 80%;
    }

    main .hero .container .titleBox h1{
        font-size: 3rem;
    }
    main .hero .container .titleBox h1 span{
        font-size: 3rem;
    }

    main .hero .container .titleBox h2 {
        font-size: 2rem;
    }

    main .hero .container .titleBox .buttonViewCases {
        width: 100%;
        font-size: 1.2rem;
        border: 1px solid rebeccapurple;
        padding: 0.9rem 1rem;

    }

    /* Section Cards */
    section .container .cardsFull {
        display: block;
    }

    section .container .cardsFull .titleCards  tag {
        font-size: 0.9rem;
    }

    section .container .cardsFull .titleCards h2 span {
        font-size: 3rem;
    }

    section .container .cardsFull .titleCards h2 {
        font-size: 3rem;
    }

    section .container .cardsFull .cards {
        display: block;
    }

    section .container .cardsFull .cards .cardsAll {
        width: 100%;
        height: 18rem;
        margin: auto;    
        margin-top: 2rem;
    }

    section .container .cardsFull .cards .cardsAll h3 {
        font-size: 5rem;
        padding-top: 2rem;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
    }

    section .container .cardsFull .cards .cardsAll .infor p {
        font-size: 2rem;
        margin: 0 0 0 0;
        margin-top: 3rem;
        text-align: center;
    }

    /* Section Sobre */
    section .container {
        display: block;
    }

    section .container .sobre {
        display: block;
        padding-bottom: 0.1rem;
    }

    section .container .sobre {
        width: 100%;
    }

    section .container .sobre .txt {
        width: 100%;
    }

    section .container .sobre h2 {
        font-size: 2.9rem;
    }

    section .container .sobre .txtSobre {
        width: 100%;
        text-align: center;
    }

    section .container .sobre p {
        font-size: 1.4rem;
    }

    section .container .sobre .myPhoto img {
        display: none;
    }

    section .container .sobre .redesSociais{
        margin: auto;
    }

    section .container .sobre .redesSociais img {
        padding-left: 1rem;
        margin: auto;
    }


    /* section cases */
    section .container .sectionCases {
        display: block;
    }

    section .container .sectionCases h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        margin-top: 8rem;
    }

    section .container .sectionCases .imgCases {
        display: block;
        width: 100%;
    }

    section .container .sectionCases .imgCases .imgSmall {
        width: 100%;
        height: 100%;
    }

    section .container .sectionCases .imgCases .img2 {
        margin-top: 1.8rem;
    }


    /* section contato */
    section .container .sectionContato {
        display: block;
        width: 100%;
    }

    section .container .sectionContato .titleContato {
        width: 100%;
        margin: auto;
    }

    section .container .sectionContato .titleContato h2 {
        font-size: 3rem;
    }

    section .container .sectionContato .form {
        display: block;
        width: 100%;
    }

    section .container .sectionContato .form input {
        width: 100%;
        font-size: 1.2rem;
    }

    section .container .sectionContato .form button {
        margin-left: 0rem;
    }

    /* footer */
    footer .container-fluid {
        padding: 2rem 0rem;
    }
    footer .container-fluid p {
        font-size: 1rem;
    }

 }